<% provide(:title, @taxon.name) %>
<%= render 'layouts/light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <%= render 'product_categories', { taxonomies: @taxonomies } %> 
        </div>
        <%= render 'filter_normal' %> 
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
      <%= render 'filter_area' %> 
        <div class="row">
          <%= render partial: 'product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>