<!-- LIGHT SECTION -->
<section class="lightSection clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="owl-carousel partnersLogoSlider">
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img alt="partner-img" src="/assets/home/partners/partner-01-b11e080ea82bae88b23c85f7404765276aa5b481ab0079048429c92260e081f6.png" />
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img alt="partner-img" src="/assets/home/partners/partner-02-0712c5324717dda12ea95b7b634f5bcd0eaf91a9344c44e3fcc38d24c119c518.png" />
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img alt="partner-img" src="/assets/home/partners/partner-03-4b20bf7b56c22b46ec455c79a459f59f1993cc29bb57cc14d797c7b0a8e7aa13.png" />
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img alt="partner-img" src="/assets/home/partners/partner-04-e1435e6cf219d7f8999bc20ec12f116f1bd81dd25d8aafc450fb113fe1834df5.png" />
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img alt="partner-img" src="/assets/home/partners/partner-05-b541b14e4b66e08af1f0b005b0d8963c1fc1ae5772143df7f8acfd17635840ea.png" />
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img alt="partner-img" src="/assets/home/partners/partner-01-b11e080ea82bae88b23c85f7404765276aa5b481ab0079048429c92260e081f6.png" />
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img alt="partner-img" src="/assets/home/partners/partner-02-0712c5324717dda12ea95b7b634f5bcd0eaf91a9344c44e3fcc38d24c119c518.png" />
            </div>
          </div>
          <div class="slide">
            <div class="partnersLogo clearfix">
              <img alt="partner-img" src="/assets/home/partners/partner-03-4b20bf7b56c22b46ec455c79a459f59f1993cc29bb57cc14d797c7b0a8e7aa13.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>